body {
	font-family: "Lato", sans-seriff;
/*	color: #747704 */
	color: WHITE;
	font-weight: 300;
}

.text-muted {
	color: #676858
}
.title-logo {
	margin-top: 20px;
	resize: 80px;
}

.container {
	background-color:aqua;
	padding:10px;
	border:10px;
}

.row1 {
	background-color: white;
	padding:50px;
	border:4px;
	margin-top:2px;
	background-image: url("images/q.jpg");
}
.row2 {
	background-color: blue;
}
.abc {
	background-color: white;
	padding:2x;
	border:2px;
	margin-top:1px;
	margin-left: 20px;
	margin-right: 20px;
}
.bkimg {
	background-image: url("images/background.png");
}